@import url("https://fonts.googleapis.com/css?family=Kaushan+Script");
body {
    overflow-x: hidden;
}

.carousel {}

.carousel-caption {
    bottom: 3rem;
    z-index: 10;
}

.carousel-item {
    height: 100vh;
    background-color: #777;
}

.carousel-item .container {
    position: relative;
    width: 100%;
    height: 100vh;
    z-index: 100;
}

.carousel-item>img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 100vh;
}

.devsstore-nav {
    background: rgba(25, 25, 25, 0);
    /* background: #333; */
    box-shadow: -1px 3px 3px #aaa;
    width: 100% !important;
}

.devsstore-title {
    font-family: "Kaushan Script", cursive;
}

.devsstore-nav a {
    color: #fff;
    transition: all 0.25s ease-out;
}

.devsstore-nav a:hover {
    color: #bbb;
}

.navbar {
    transition: all .5s;
    width: 100%;
}

.change-color-nav {
    background: rgba(25, 25, 25, .5);
}

.pattern {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/pattern.png");
    z-index: 10;
}

#logo {
    background-color: rgba(25, 25, 25, .5);
}

@media (min-width: 768px) {
    .navbar-expand-md .navbar-collapse ul {
        position: relative;
        display: flex;
        margin: auto;
    }
}

@media (max-width: 768px) {
    .destacada {
        position: relative;
        min-height: 356px !important;
        height: 356px !important;
    }
    .destacada img {
        position: relative;
        min-height: 356px !important;
        height: 356px !important;
    }
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 1.25rem;
        font-size: 1.25rem;
        line-height: 1.4;
    }
    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 62em) {
    .featurette-heading {
        margin-top: 7rem;
    }
}


/* MARKETING CONTENT
-------------------------------------------------- */


/* Center align the text within the three columns below the carousel */

.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
    padding-top: 4rem;
}

.marketing h2 {
    font-weight: 400;
}

.marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
}


/* Featurettes
------------------------- */

.featurette-divider {
    margin: 5rem 0;
    /* Space out the Bootstrap <hr> more */
}


/* Thin out the marketing headings */

.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
}

#h2parallax {
    font-weight: bold;
}

#span1 {
    color: tomato !important;
}

#lider {
    color: #000;
    font-weight: bold;
}


/*parallax */

.parallax {
    /* The image used */
    background-image: url("../img/67.jpg");
    /* Set a specific height */
    height: 100%;
    width: 100vw;
    padding: 2rem;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.img-hover {
    transition: all .25s ease-in-out;
}

.img-hover:hover {
    transform: scale(1.3, 1.3);
}

.parallax h2,
p {
    padding: 1rem 2rem;
    color: rgba(25, 25, 50, 1);
}

.parallax h2 {
    text-shadow: 1px 1px 1px #fff;
}

.margin-2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.eligenos ul li {
    list-style: none;
    padding: 5px 10px;
}


/* SECTION-CONTACTO*/

section.contacto {
    background-color: #4f5962;
    color: #fff;
    padding: 10px;
}

section.contacto .borde {
    border: 1px solid #697279;
}

section.contacto p {
    margin-bottom: 25px;
}

section.contacto .btn-default {
    background-color: #67727c;
    border: 2px solid #fff;
    color: #fff;
}

section.contacto .btn-default:hover {
    background: tomato;
    color: #5d993a;
    box-shadow: inset 0 0 0 3px #60993a;
}

section.contacto .btn-lg {
    padding: 10px 46px;
    margin-bottom: 15px;
}

h2.blanco {
    color: #fff;
    font-size: 2.6em;
    margin-bottom: 30px;
}


/*FOOTER*/

footer {
    background-color: #2d3235;
    padding-top: 30px !important;
    padding-bottom: 30px !important;
}

footer hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #595d60;
    margin: 1em 0 !important;
    padding: 0;
}

footer a,
footer a:hover {
    color: #fff;
}

footer p {
    color: #fff;
}

.devs-nav a {
    color: #fff;
}

.devs-nav a:hover {
    background: rgba(255, 255, 255, .1);
}


/*DESTACADA*/

.destacada {
    position: relative;
}

section.destacada .contenido {
    top: 38%;
    left: 0;
    width: 100%;
    position: absolute;
    z-index: 20;
}

section.destacada .contenido h1 {
    padding: 20px;
    border: 4px solid tomato;
    color: #fff;
    font-size: 1.7em;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 auto;
    text-align: center !important;
    width: 70%;
}


/** CONTACTO **/

.form-control {
    background-color: #ededed !important;
    border: 0;
    box-shadow: none;
}

.form-horizontal .control-label {
    font-weight: normal;
}

.btn-default.enviar {
    background-color: #323538;
    color: #fff;
    border: 0;
    padding: 7px 52px;
    text-transform: uppercase;
}

.btn-default.enviar:hover {
    background: tomato;
    color: #fff;
    box-shadow: inset 0 0 0 3px #60993a;
}


/*TIMELINE*/

@media (min-width: 1000px) {
    .demo-card {
        opacity: 0;
    }
    #timeline .demo-card:nth-child(odd) .head::after,
    #timeline .demo-card:nth-child(even) .head::after {
        position: absolute;
        content: "";
        width: 0;
        height: 0;
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
    }
    #timeline .demo-card:nth-child(odd) .head::before,
    #timeline .demo-card:nth-child(even) .head::before {
        position: absolute;
        content: "";
        width: 9px;
        height: 9px;
        background-color: #bdbdbd;
        border-radius: 9px;
        box-shadow: 0px 0px 2px 8px #f7f7f7;
    }
}


/* Some Cool Stuff */

.demo-card:nth-child(1) {
    order: 1;
}

.demo-card:nth-child(2) {
    order: 4;
}

.demo-card:nth-child(3) {
    order: 2;
}

.demo-card:nth-child(4) {
    order: 5;
}

.demo-card:nth-child(5) {
    order: 3;
}

.demo-card:nth-child(6) {
    order: 6;
}


/* Border Box */

* {
    box-sizing: border-box;
}


/* Fonts */

body {
    font-family: Roboto;
}

#timeline {
    padding: 100px 0;
    background: #f7f7f7;
    border-top: 1px solid rgba(191, 191, 191, 0.4);
    border-bottom: 1px solid rgba(191, 191, 191, 0.4);
}

#timeline h1 {
    text-align: center;
    font-size: 3rem;
    font-weight: 200;
    margin-bottom: 20px;
}

#timeline p.leader {
    text-align: center;
    max-width: 90%;
    margin: auto;
    margin-bottom: 45px;
}

#lider {
    background: rgba(255, 255, 255, 0.3);
    border: .25rem tomato solid;
    margin: 1rem 2rem;
}

@media (max-width:640px) {
    #lider {
        margin: .1rem;
    }
}

#timeline .demo-card-wrapper {
    position: relative;
    margin: auto;
}

@media (min-width: 1000px) {
    #timeline .demo-card-wrapper {
        display: flex;
        flex-flow: column wrap;
        width: 1170px;
        height: 1650px;
        margin: 0 auto;
    }
}

#timeline .demo-card-wrapper::after {
    z-index: 1;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    border-left: 1px solid rgba(191, 191, 191, 0.4);
}

@media (min-width: 1000px) {
    #timeline .demo-card-wrapper::after {
        border-left: 1px solid #bdbdbd;
    }
}

#timeline .demo-card {
    position: relative;
    display: block;
    margin: 10px auto 80px;
    max-width: 94%;
    z-index: 2;
}

@media (min-width: 480px) {
    #timeline .demo-card {
        max-width: 60%;
        box-shadow: 0px 1px 22px 4px rgba(0, 0, 0, 0.07);
    }
}

@media (min-width: 720px) {
    #timeline .demo-card {
        max-width: 40%;
    }
}

@media (min-width: 1000px) {
    #timeline .demo-card {
        max-width: 450px;
        height: 400px;
        margin: 90px;
        margin-top: 45px;
        margin-bottom: 45px;
    }
    #timeline .demo-card:nth-child(odd) {
        margin-right: 45px;
    }
    #timeline .demo-card:nth-child(odd) .head::after {
        border-left-width: 15px;
        border-left-style: solid;
        left: 100%;
    }
    #timeline .demo-card:nth-child(odd) .head::before {
        left: 491.5px;
    }
    #timeline .demo-card:nth-child(even) {
        margin-left: 45px;
    }
    #timeline .demo-card:nth-child(even) .head::after {
        border-right-width: 15px;
        border-right-style: solid;
        right: 100%;
    }
    #timeline .demo-card:nth-child(even) .head::before {
        right: 489.5px;
    }
    #timeline .demo-card:nth-child(2) {
        margin-top: 180px;
    }
}

#timeline .demo-card .head {
    position: relative;
    display: flex;
    align-items: center;
    color: #fff;
    font-weight: 400;
}

#timeline .demo-card .head .number-box {
    display: inline;
    float: left;
    margin: 15px;
    padding: 10px;
    font-size: 35px;
    line-height: 35px;
    font-weight: 600;
    background: rgba(0, 0, 0, 0.17);
}

#timeline .demo-card .head h2 {
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: inherit;
    letter-spacing: 2px;
    margin: 0;
    padding-bottom: 6px;
    line-height: 1rem;
}

@media (min-width: 480px) {
    #timeline .demo-card .head h2 {
        font-size: 165%;
        line-height: 1.2rem;
    }
}

#timeline .demo-card .head h2 span {
    display: block;
    font-size: 0.6rem;
    margin: 0;
}

@media (min-width: 480px) {
    #timeline .demo-card .head h2 span {
        font-size: 0.8rem;
    }
}

#timeline .demo-card .body {
    background: #fff;
    border: 1px solid rgba(191, 191, 191, 0.4);
    border-top: 0;
    padding: 15px;
}

@media (min-width: 1000px) {
    #timeline .demo-card .body {
        height: 315px;
    }
}

#timeline .demo-card .body p {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 15px;
}

#timeline .demo-card .body img {
    display: block;
    width: 100%;
}

#timeline .demo-card--step1 {
    background-color: #46b8e9;
}

#timeline .demo-card--step1 .head::after {
    border-color: #46b8e9;
}

#timeline .demo-card--step2 {
    background-color: #3ee9d1;
}

#timeline .demo-card--step2 .head::after {
    border-color: #3ee9d1;
}

#timeline .demo-card--step3 {
    background-color: #ce43eb;
}

#timeline .demo-card--step3 .head::after {
    border-color: #ce43eb;
}

#timeline .demo-card--step4 {
    background-color: #4d92eb;
}

#timeline .demo-card--step4 .head::after {
    border-color: #4d92eb;
}

#timeline .demo-card--step5 {
    background-color: #46b8e9;
}

#timeline .demo-card--step5 .head::after {
    border-color: #46b8e9;
}

.dropdown-menu {
    background: rgba(25, 25, 25, .5) !important;
}

.dropdown-menu a {
    color: #fff !important;
    font-weight: bold;
}

.dropdown-menu a:hover {
    color: #2d3235 !important;
}


/*BTN-SECONDARY*/

.btn-secondary:hover {
    background-color: tomato !important;
}

.i-facebook {
    transition: all .25s ease-in-out;
}

.i-facebook:hover {
    color: #3b5998;
}

.i-twitter {
    transition: all .25s ease-in-out;
}

.i-twitter:hover {
    color: #00aced;
}

.i-instragram {
    transition: all .25s ease-in-out;
}

.i-instragram:hover {
    color: tomato;
}


/* Style the video: 100% width and height to cover the entire window */

.video-header {
    height: 100vh;
    display: flex;
    align-items: center;
    color: #fff;
}

.wrap {
    max-width: 960px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin: auto;
    text-align: center;
}

.fullscreen-video-wrap {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.fullscreen-video-wrap video {
    min-height: 100%;
    min-width: 100%;
}

.header-overlay {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(34, 33, 33, 0.65);
    opacity: 0.80;
}

.header-content {
    z-index: 2;
    margin-top: 20%;
    padding: 0 2rem;
}

.header-content h1 {
    font-size: 50px;
    margin-bottom: 0;
}

.header-content p {
    font-size: 1.5rem;
    display: block;
    padding-bottom: 2rem;
    margin-top: 10px;
}

.my-btn {
    padding: 1rem 1rem;
}

@media(max-width:768px) {
    .header-content h1 {
        font-size: 40px;
    }
    .header-content p {
        font-size: 1rem;
    }
}

.flip-container {
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -o-perspective: 1000;
    perspective: 1000;
    border: 1px solid #ccc;
}


/*	.flip-container:hover .flipper,  */

.flip-container.hover .flipper {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.flip-container,
.front,
.back {
    width: 100%;
    height: 450px;
}

.flipper {
    transition: .75s;
    transform-style: preserve-3d;
    position: relative;
}

.front,
.back {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.front {
    z-index: 2;
}

.back {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
    background: #f8f8f8;
}

.front {
    display: flex;
}

.front .name {
    font-size: 2em;
    width: 100%;
    height: 100%;
    text-align: center;
    display: inline-block;
    color: #00304a;
    font-family: Courier;
    font-weight: bold;
    border-radius: 5px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.back-logo {
    position: absolute;
    top: 20px;
    left: 45px;
    width: 160px;
    height: 117px;
}

.back-title {
    font-weight: bold;
    color: #00304a;
    position: relative;
    text-align: center;
    font-family: Courier;
    font-size: 2em;
    background: tomato;
}

.back p {
    bottom: 40px;
    left: 0;
    right: 0;
    text-align: center;
    padding: 0 20px;
    font-family: arial;
    line-height: 2em;
}

.name {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
}


/* GRID MOVIL*/

.mi-card {
    transition: all .25s ease-in;
}

.mi-card:hover {
    margin: -15px 0px;
    box-shadow: 0px 3px 3px #333;
}